<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />

    <title>Trang chủ</title>
  </head>
  <body>
    <%- include("./layouts/header"); %>
    <main>
      <%- include("./layouts/banner"); %> <%- include("./layouts/service"); %>
      <%- include("./layouts/productscard"); %> <%- include("./layouts/footer");
      %>
    </main>

    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>

    <script type="text/javascript" src="/js/navbar.js"></script>
    <script type="text/javascript" src="/js/banner.js"></script>
    <script type="text/javascript" src="/js/product.js"></script>
    <script type="text/javascript" src="/js/searchproduct.js"></script>

    <script></script>
  </body>
</html>
